In [1]:
import pandas as pd
import numpy as np

In [2]:
ls *csv

performance_analytics_cost_and_ga_metrics.csv

In [3]:
df = pd.read_csv('performance_analytics_cost_and_ga_metrics.csv')

In [4]:
df.head()

,Date,Travel Product,Sessions - This Year,Bookings - This Year,Revenue - This Year,Spend - This Year,Day of Month,Day of Week,Week,Month,Quarter,Year,Sessions - Last Year,Bookings - Last Year,Revenue - Last Year,Spend - Last Year,Category,Birst Category,GA Category
0,2017-01-02,CheapFlights Comparestrip Panel Flight,0.0,0.0,0.0,0.0,2,0,1,1,1,2017,NaN,NaN,NaN,NaN,Metasearch and Travel Ads,Travel,MetaSearch and Travel Ads
1,2018-01-01,CheapFlights Comparestrip Panel Flight,0.0,0.0,0.0,0.0,1,0,1,1,1,2018,0.0,0.0,0.0,0.0,Metasearch and Travel Ads,Travel,MetaSearch and Travel Ads
2,2018-12-31,CheapFlights Comparestrip Panel Flight,0.0,0.0,0.0,0.0,31,0,1,12,4,2019,0.0,0.0,0.0,0.0,Metasearch and Travel Ads,Travel,MetaSearch and Travel Ads
3,2017-01-03,CheapFlights Comparestrip Panel Flight,0.0,0.0,0.0,0.0,3,1,1,1,1,2017,NaN,NaN,NaN,NaN,Metasearch and Travel Ads,Travel,MetaSearch and Travel Ads
4,2018-01-02,CheapFlights Comparestrip Panel Flight,0.0,0.0,0.0,0.0,2,1,1,1,1,2018,0.0,0.0,0.0,0.0,Metasearch and Travel Ads,Travel,MetaSearch and Travel Ads

In [7]:
df['Travel Product'].unique().tolist()

['CheapFlights Comparestrip Panel Flight',
 'CheapFlights Comparestrip Panel Package',
 'CheapFlights Email',
 'Criteo Display',
 'Discoverer Email',
 'GDN Prospecting',
 'GDN Retargeting',
 'Google HPA MetaSearch',
 'Kayak Afterclick',
 'Kayak Comparestrip Modal',
 'Kayak Comparestrip Prechecked',
 'Kayak Comparestrip Results Flights',
 'Kayak Comparestrip Results Packages',
 'Kayak Comparestrip Unchecked',
 'Kayak Deals',
 'Kayak Display',
 'Kayak Email',
 'Kayak Inline Flight',
 'Kayak Inline Hotel',
 'Kayak Inline Package',
 'Kayak Vacation Core',
 'Paid Search Brand',
 'Paid Search Non-Brand Prospecting DSA',
 'Paid Search Non-Brand Prospecting Destination',
 'Paid Search Non-Brand Prospecting Generics',
 'Paid Search Non-Brand Prospecting Property',
 'Paid Search Non-Brand Retargeting DSA',
 'Paid Search Non-Brand Retargeting Destination',
 'Paid Search Non-Brand Retargeting Generics',
 'Paid Search Non-Brand Retargeting Property',
 "Sherman's Email",
 'TravelZoo CPC',
 'TravelZoo Email Newsflash',
 'TravelZoo Email Top20']

In [13]:
replace_values = {
 'CheapFlights Comparestrip Panel Flight' : 'Targaryen Comparestrip Panel Flight',
 'CheapFlights Comparestrip Panel Package': 'Targaryen Comparestrip Panel Package',
 'CheapFlights Email': 'Targaryen Email',
 'Criteo Display' : 'Greyjoy Display',
 'Discoverer Email' : 'Arryn Email',
 'GDN Prospecting' : 'Tyrell Prospecting',
 'GDN Retargeting' : 'Tyrell Retargeting',
 'Google HPA MetaSearch' : 'Tyrell HPA MetaSearch',
 'Kayak Afterclick' :  'Stark Afterclick',
 'Kayak Comparestrip Modal': 'Stark Targaryen Modal',
 'Kayak Comparestrip Prechecked' : 'Stark Comparestrip Prechecked',
 'Kayak Comparestrip Results Flights' : 'Stark Comparestrip Results Flights',
 'Kayak Comparestrip Results Packages' : 'Stark Comparestrip Results Packages',
 'Kayak Comparestrip Unchecked' : 'Stark Comparestrip Unchecked',
 'Kayak Deals' : 'Stark Deals',
 'Kayak Display' : 'Stark Display',
 'Kayak Email': 'Stark Email',
 'Kayak Inline Flight' : 'Stark Inline Flight',
 'Kayak Inline Hotel' : 'Stark Inline Hotel',
 'Kayak Inline Package': 'Stark Inline Package',
 'Kayak Vacation Core' : 'Stark Vacation Core',
#  'Paid Search Brand',
#  'Paid Search Non-Brand Prospecting DSA',
#  'Paid Search Non-Brand Prospecting Destination',
#  'Paid Search Non-Brand Prospecting Generics',
#  'Paid Search Non-Brand Prospecting Property',
#  'Paid Search Non-Brand Retargeting DSA',
#  'Paid Search Non-Brand Retargeting Destination',
#  'Paid Search Non-Brand Retargeting Generics',
#  'Paid Search Non-Brand Retargeting Property',
 "Sherman's Email" : "Baratheon Email",
 'TravelZoo CPC': 'Lannister CPC',
 'TravelZoo Email Newsflash': 'Lannister Email Newsflash',
 'TravelZoo Email Top20': 'Lannister Email Top20'
    
}

In [16]:
new_df = df.replace({'Travel Product': replace_values})

In [17]:
new_df['Travel Product'].unique().tolist()

['Targaryen Comparestrip Panel Flight',
 'Targaryen Comparestrip Panel Package',
 'Targaryen Email',
 'Greyjoy Display',
 'Arryn Email',
 'Tyrell Prospecting',
 'Tyrell Retargeting',
 'Tyrell HPA MetaSearch',
 'Stark Afterclick',
 'Stark Targaryen Modal',
 'Stark Comparestrip Prechecked',
 'Stark Comparestrip Results Flights',
 'Stark Comparestrip Results Packages',
 'Stark Comparestrip Unchecked',
 'Stark Deals',
 'Stark Display',
 'Stark Email',
 'Stark Inline Flight',
 'Stark Inline Hotel',
 'Stark Inline Package',
 'Stark Vacation Core',
 'Paid Search Brand',
 'Paid Search Non-Brand Prospecting DSA',
 'Paid Search Non-Brand Prospecting Destination',
 'Paid Search Non-Brand Prospecting Generics',
 'Paid Search Non-Brand Prospecting Property',
 'Paid Search Non-Brand Retargeting DSA',
 'Paid Search Non-Brand Retargeting Destination',
 'Paid Search Non-Brand Retargeting Generics',
 'Paid Search Non-Brand Retargeting Property',
 'Baratheon Email',
 'Lannister CPC',
 'Lannister Email Newsflash',
 'Lannister Email Top20']

In [18]:
new_df.fillna(0, inplace=True)

In [19]:
new_df.head()

,Date,Travel Product,Sessions - This Year,Bookings - This Year,Revenue - This Year,Spend - This Year,Day of Month,Day of Week,Week,Month,Quarter,Year,Sessions - Last Year,Bookings - Last Year,Revenue - Last Year,Spend - Last Year,Category,Birst Category,GA Category
0,2017-01-02,Targaryen Comparestrip Panel Flight,0.0,0.0,0.0,0.0,2,0,1,1,1,2017,0.0,0.0,0.0,0.0,Metasearch and Travel Ads,Travel,MetaSearch and Travel Ads
1,2018-01-01,Targaryen Comparestrip Panel Flight,0.0,0.0,0.0,0.0,1,0,1,1,1,2018,0.0,0.0,0.0,0.0,Metasearch and Travel Ads,Travel,MetaSearch and Travel Ads
2,2018-12-31,Targaryen Comparestrip Panel Flight,0.0,0.0,0.0,0.0,31,0,1,12,4,2019,0.0,0.0,0.0,0.0,Metasearch and Travel Ads,Travel,MetaSearch and Travel Ads
3,2017-01-03,Targaryen Comparestrip Panel Flight,0.0,0.0,0.0,0.0,3,1,1,1,1,2017,0.0,0.0,0.0,0.0,Metasearch and Travel Ads,Travel,MetaSearch and Travel Ads
4,2018-01-02,Targaryen Comparestrip Panel Flight,0.0,0.0,0.0,0.0,2,1,1,1,1,2018,0.0,0.0,0.0,0.0,Metasearch and Travel Ads,Travel,MetaSearch and Travel Ads

In [20]:
new_df.columns

Index(['Date', 'Travel Product', 'Sessions - This Year',
       'Bookings - This Year', 'Revenue - This Year', 'Spend - This Year',
       'Day of Month', 'Day of Week', 'Week', 'Month', 'Quarter', 'Year',
       'Sessions - Last Year', 'Bookings - Last Year', 'Revenue - Last Year',
       'Spend - Last Year', 'Category', 'Birst Category', 'GA Category'],
      dtype='object')

In [53]:
new_df['Sessions - This Year'] = (new_df['Sessions - This Year'] + np.random.uniform(0,1000, (df.shape[0]))).astype(int)
new_df['Sessions - Last Year'] = (new_df['Sessions - Last Year'] + np.random.uniform(0,1000, (df.shape[0]))).astype(int)

In [54]:
new_df['Bookings - This Year'] = (new_df['Bookings - This Year'] + np.random.uniform(0,25, (df.shape[0]))).astype(int)
new_df['Bookings - Last Year'] = (new_df['Bookings - Last Year'] + np.random.uniform(0,25, (df.shape[0]))).astype(int)

In [55]:
new_df['Spend - This Year'] = (new_df['Spend - This Year'] + np.random.uniform(0,2000, (df.shape[0]))).astype(int)
new_df['Spend - Last Year'] = (new_df['Spend - Last Year'] + np.random.uniform(0,2000, (df.shape[0]))).astype(int)

In [56]:
new_df.head()

,Date,Travel Product,Sessions - This Year,Bookings - This Year,Revenue - This Year,Spend - This Year,Day of Month,Day of Week,Week,Month,Quarter,Year,Sessions - Last Year,Bookings - Last Year,Revenue - Last Year,Spend - Last Year,Category,Birst Category,GA Category
0,2017-01-02,Targaryen Comparestrip Panel Flight,2601,102,0.0,2743,2,0,1,1,1,2017,4416,103,0.0,2220,Metasearch and Travel Ads,Travel,MetaSearch and Travel Ads
1,2018-01-01,Targaryen Comparestrip Panel Flight,4677,78,0.0,1851,1,0,1,1,1,2018,3188,59,0.0,3353,Metasearch and Travel Ads,Travel,MetaSearch and Travel Ads
2,2018-12-31,Targaryen Comparestrip Panel Flight,2119,85,0.0,2772,31,0,1,12,4,2019,3345,102,0.0,3040,Metasearch and Travel Ads,Travel,MetaSearch and Travel Ads
3,2017-01-03,Targaryen Comparestrip Panel Flight,3374,98,0.0,2402,3,1,1,1,1,2017,2781,91,0.0,1841,Metasearch and Travel Ads,Travel,MetaSearch and Travel Ads
4,2018-01-02,Targaryen Comparestrip Panel Flight,3017,98,0.0,3986,2,1,1,1,1,2018,3726,89,0.0,3583,Metasearch and Travel Ads,Travel,MetaSearch and Travel Ads

In [57]:
new_df.to_csv('performance_analytics_cost_and_ga_metrics.csv')